{% extends 'base.html' %}
{% load static %}

{% block content %}
<form method="get" action="{% url 'word:word' %}">
    <div class="form-group">
        <input type="date" id="input-date" name="input-date" class="form-control mb-2" required>
    </div>
    <button type="submit" class="btn btn-primary mb-2"  style="background-color: rgb(30, 3, 66); border: none;">확인</button>
</form>

 

<div class="image-container">
    <img src="data:image/png;base64,{{ wordcloud }}" alt="Word Cloud"> 
    <div class="date-overlay">{{ input_date }}</div>
</div>

{% endblock %}