<nav class="navbar custom-navbar navbar-expand-lg">
    <a class="navbar-brand" href="{% url 'home:index' %}">Home</a> <!-- 홈 링크 -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span> <!-- 토글 버튼 -->
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- 네비게이션 바의 메뉴 목록 -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'chart:chart' %}">Chart</a> <!-- 차트 페이지로 가는 링크 -->
                
            </li>
            <li>
                <a class="nav-link" href="{% url 'word:word' %}">wordcloud</a> <!-- 차트 페이지로 가는 링크 -->
            </li>
        </ul>
    </div>
</nav>
