{% extends 'base.html' %}
{% load static %}

{% block title %}Chart.js Example{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <!-- 왼쪽에 배치할 검색 폼 -->
            <form method="GET" onsubmit="handleFormSubmit(event)">
                <div class="searchForm">
                    <input type="date" name="input-date" id="date" class="form-control mb-2">
                    <script>document.getElementById('date').value = new Date().toISOString().substring(0, 10);</script>
                    <input type="submit" id="btnSearchWordCloud" value="확인" class="btn btn-primary mb-2">
                </div>
            </form>
            <img id="basic_image" src="{%static 'images/basic.png'%}" alt="이미지없음">
        </div>
        <div class="col-md-8">
            <!-- 오른쪽에 배치할 차트 -->
            <h1>Chart를 그려보장!</h1>
            <div class="chart-container">
                <canvas id="myChart"></canvas>
                <script>
                    document.addEventListener("DOMContentLoaded", function() {
                        // Django에서 전달한 데이터를 JavaScript 변수로 전달
                        const keywords = {{ keywords|safe }};
                        const counts = {{ counts|safe }};
                        
                        // Chart.js를 사용하여 그래프 그리기
                        const ctx = document.getElementById('myChart').getContext('2d');
                        const myChart = new Chart(ctx, {
                            type: 'bar', // 그래프의 타입 (막대 그래프)
                            data: {
                                labels: keywords,
                                datasets: [{
                                    label: '# of Counts',
                                    data: counts,
                                    backgroundColor: 'rgba(54, 162, 235, 0.2)',
                                    borderColor: 'rgba(54, 162, 235, 1)',
                                    borderWidth: 1
                                }]
                            },
                            options: {
                                scales: {
                                    y: {
                                        beginAtZero: true
                                    }
                                }
                            }
                        });
                    });
                </script>
            </div>
        </div>
    </div>
</div>

<!-- 자바스크립트 코드 -->

{% endblock %}
